---
bg: './base/sea.jpg'
layout: default
crawlertitle: "VVENY'S BLOG"
title: 'vveny'
summary: 'java, Spring Boot <br> Back-end'
---

{% for category in site.categories %}
{% assign cate = category | first %}
{% for pos in site.pages %}
{% assign pt = pos.title %}
{% if cate == pt %}
<h2 class="category-key" id="{{ pt | downcase }}"><a href="{{ site.baseurl }}/category/{{ cate }}">{{ cate | capitalize }}</a></h2>
<ul class="year">
	{% for post in site.categories[cate] limit: 5 %}
	<li>
		{% if post.lastmod %}
		<a href="{{ post.url | relative_url}}">{{ post.title }}</a>
		<span class="date">{{ post.lastmod | date: "%Y-%m-%d" }}</span>
		{% else %}
		<a href="{{ post.url | relative_url}}">{{ post.title }}</a>
		<span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
		{% endif %}
	</li>
	{% endfor %}
</ul>
{% endif %}
{% endfor %}
{% endfor %}